   
.farm-map {
    width: 100%;        
    height:100%;
    
    .ant-card-body{
        height:calc(100% - 57px);
    }
    
    .leaflet-container{
        width:100%;
        height:100%;
        border-radius: 8px;
    }

    position: relative;
    
    &__overlay {
    
        position: absolute;
    
        top: 70px;
    
        left: 16px;
    
        z-index: 1000;
    
    }
}

.map-overlay{

    position:absolute;

    top:16px;

    left:16px;

    z-index:1000;

    width:220px;

}